extends layout-with-tree.pug

block content
  +error_container()
  if content
    if content.error
      +error_message(content.error)
    else
      #md-text(style={ display: 'none' })= content.result
      .w-100.text-right
        a.btn(href='/edit?p='+path)
          i.bi.bi-pen
      #md-render
